.mainContainer {
  background: white;
  position: relative;
  height: calc(16rem + 6vw);

  .stepsToBuildImage {
    filter: brightness(40%);
  }

  .itemsContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .card {
      text-align: center;

      .cardContainer {
        margin: 0 auto;
        .logoPart {
          position: relative;
          width: fit-content;
          margin: 0 auto;
          border-radius: 50%;
          background: white;
          padding: calc(1rem + 1vw);
          .logo {
            font-size: calc(1rem + 2vw);
          }
        }

        .logoPart1::before, .logoPart2::before, .logoPart3::before, .logoPart4::before, .logoPart5::before, .logoPart6::before {
          position: absolute;
          top: 0;
          left: -1rem;
          content: "1";
          background: red;
          width: calc(1.6rem + 1vw);
          height: calc(1.6rem + 1vw);
          border-radius: 50%;
          color: white;
          text-align: center;
          line-height: calc(1.6rem + 1vw);
          font-size: calc(1rem + 1vw);
          font-weight: bold;
        }

        .logoPart2::before {
          content: "2";
        }

        .logoPart3::before {
          content: "3";
        }
        .logoPart4::before {
          content: "4";
        }
        .logoPart5::before {
          content: "5";
        }
        .logoPart6::before {
          content: "6";
        }

        .textPart {
          h3 {
            padding: 1rem;
            color: white;
            letter-spacing: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .mainContainer {
    height: 110vh;
    .itemsContainer {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (min-height: 950px) and (max-height: 1200px){
  .mainContainer {
    height: 120vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (min-height: 800px) and (max-height: 950px){
  .mainContainer {
    height: 135vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (min-height: 700px) and (max-height: 800px){
  .mainContainer {
    height: 155vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (min-height: 550px) and (max-height: 700px){
  .mainContainer {
    height: 185vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (max-height: 550px){
  .mainContainer {
    height: 240vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (max-height: 450px){
  .mainContainer {
    height: 290vh;
  }
}

@media screen and (min-width: 250px) and (max-width: 830px) and (max-height: 350px){
  .mainContainer {
    height: 320vh;
  }
}






